body {
  margin: 0 auto;
  padding: 2rem;
  background-color: #e8ffec;
}

a {
  text-decoration: none;
  color: black;
}


/* Landing page styling */
.landing-page nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.landing-page .header-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.landing-page .header-item:not(:last-child)::after {
  content: '|';
  margin: 0 5px;
  color: #6e6e6e; 
}

.landing-page .separator {
  padding: 0 5px;
  color: #6e6e6e; 
}

/* Navbar styling */
.navbar-container {
  background-color: #a9f0b5;
  width: 250px; 
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto; /* In case the navbar content is long */
  padding: 20px;
}

.nav-item {
  padding: 10px;
}

/* Content for all app pages common styling */
.main-content {
  margin-left: 280px; 
  margin-top: 80px;
}

/* Header styling */
.header-container {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 290px;
  border-bottom: .5px solid #8b8b8b;
  border-left: 50px solid #e8ffec;
  border-right: 50px solid #e8ffec;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  height: 60px; 
  padding-top: 30px;
}

/* Dashboard */
.dashboard .top-row {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  gap: 10%;
}

.dashboard .todo-list {
  background-color: white;
  border-radius: 10px;
  width: 70%;
  padding: 15px;
}

.dashboard .analytics {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.dashboard .streaks-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.completion-icons {
  display: flex;
  gap: 5%;
  justify-content: center;
}

.completion-icon {
  /*Background color styling directly in CompletionIcon.jsx */
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

/* Profile page styling */
.profile .profile-information-container {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 40px;

}

.profile .profile-settings {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile .profile-picture-settings {
  display: flex;
  flex-direction: column;
}

.profile .profile-info-settings {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 100%;
}

.profile  .top {
  display: flex;
  justify-content: space-between;
}



/* Profile Info Styling */

.profile-info {
  display: flex;
  margin: -25px 0 -25px 0;
}

/* manage-habit */
.manage-habits .add-habit-container {
  background-color: white;
  padding: 10px 30px 30px 30px;
  margin: 5px;
  margin-bottom: 10px;
}

.manage-habits .add-habit {
  display: flex;
  justify-content: space-between;
}

.manage-habits .add-habit p {
  border-style: solid;
  width: 90%;
}

.manage-habits .current-habits {
  background-color: white;
  margin: 5px;
  padding: 10px 30px 30px 30px;

}

.manage-habits .habit-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

/* Buttons */
button.edit {
  background-color: transparent;
  border-style: none;
  color: green;
}

button.add {
  background-color: transparent;
  border-style: none;
  color: green;
}




