body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #e8ffec;
}

a {
  text-decoration: none;
  color: black;
}

.landing-page nav {
  display: flex;
  justify-content: space-between;
}

.landing-page .header-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.landing-page .header-item:not(:last-child)::after {
  content: '|';
  margin: 0 5px;
  /* color: #6e6e6e;  */
}

.landing-page .separator {
  padding: 0 5px;
}


