.primaryColor {
  background-color: red;
  color: black;
}

body {
  margin: 0 auto;
  padding: 0rem;
  background-color: #e8ffec;
}

/* Content for all app pages common styling */
.main-content {
  margin-left: 320px; 
  margin-top: 100px;
  color: black;
}

/* Navbar styling */
.navbar-container {
  background-color: #a9f0b5;
  width: 250px; 
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto; /* In case the navbar content is long */
  padding: 20px;
}

.nav-item {
  padding: 10px;
  list-style-type: none;
}



/* Header styling */
.header-container {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 280px;
  z-index: 1000;
  border-bottom: .5px solid #c3c3c3;
  padding-inline: 50px;
  margin-inline: 20px;
  background-color: #e8ffec;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  height: 50px; 
  padding-top: 20px;
  color: black;
}

.user-container {
  display: flex;
  gap: 10px;
}

/* analytics styling for dashboard and progress page */
.analytics {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.analytics .streaks-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.completion-icons {
  display: flex;
  gap: 5%;
  justify-content: center;
}

.completion-icon {
  /*Background color styling directly in CompletionIcon.jsx */
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}


/* Buttons */
button.edit {
  background-color: transparent;
  border-style: none;
  color: green;
}

button.add {
  background-color: transparent;
  border-style: none;
  color: green;
}




