/* manage-habit */
.manage-habits .add-habit-container {
    background-color: white;
    padding: 10px 30px 30px 30px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  
  .manage-habits .add-habit {
    display: flex;
    justify-content: space-between;
  }
  
  .manage-habits .add-habit p {
    border-style: solid;
    width: 90%;
  }
  
  .manage-habits .current-habits {
    background-color: white;
    margin: 5px;
    padding: 10px 30px 30px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /*Styling for Habit.jsx */
  .manage-habits .habit-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .days-of-week-selector button.selected {
    background-color: #ffa12d;
    color: white;
}